@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
body {
	font-family: "Lato", sans-serif;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 75px;
	margin: 0;
	box-sizing: border-box;
	padding: 75px 0 0 0;

}

h2 {
	padding: 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	max-width: 1500px;
	margin: auto;
	display: inline-block;
	width: 100%;
}

h1 {
	text-align: center;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background: #000000;
	z-index: 10;
}

header h1 {
	margin: 0;
}

.styles__shields__162oG {
	padding: 20px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	max-width: 1500px;
	margin: auto;
}

button {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="1" dy="6" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
	-webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, .1));
	        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, .1));
	-webkit-transition: background .5s ease, color .5s ease;
	transition: background .5s ease, color .5s ease;
	border: none;
	background: #ffd800;
	border-radius: 30px;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 15px 40px;
	font-weight: 400;
	font-size: 13px;
	cursor: pointer
}

button:hover {
	color: #ffffff;
	background: #222222;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="5" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.2)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
	-webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, .2));
	        filter: drop-shadow(0 0 5px rgba(0, 0, 0, .2));

}

header section {
	max-width: 1500px;
	height: 35px;
	margin: auto;
	padding: 20px;
	background: #ffd800;
}

header section a {
	float: right;
	padding: 3px 0;
}

.center {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.slider-content {
	color: white
}

.slider-content:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .9)));
	background: linear-gradient(transparent, rgba(0, 0, 0, .9));
	bottom: 0;
	left: 0;

}

.styles__page__2eTbh {
	width: 100%;
	max-width: 1000px;
	margin: auto;
	margin-bottom: 100px;
}

.horizontal__slider__2nrWa {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden
}

.horizontal__slider__2nrWa a.horizontal__previousButton__hfOb_, .horizontal__slider__2nrWa a.horizontal__nextButton__1AnDY {
	font-size: 22px;
	line-height: 0;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	z-index: 1;
	color: #333;
	padding: 10px;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden
	/* prevent jump effect when scaling */
}

.horizontal__slider__2nrWa a.horizontal__previousButton__hfOb_:not(.horizontal__disabled__3Af8g):hover, .horizontal__slider__2nrWa a.horizontal__nextButton__1AnDY:not(.horizontal__disabled__3Af8g):hover {
	-webkit-transform: translateY(-50%) scale(1.25);
	        transform: translateY(-50%) scale(1.25);
	cursor: pointer;
}

.horizontal__slider__2nrWa a.horizontal__previousButton__hfOb_ {
	left: 20px;
}

.horizontal__slider__2nrWa a.horizontal__nextButton__1AnDY {
	right: 20px;
}

.horizontal__slide__14cYd {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden
}

.horizontal__slide__14cYd.horizontal__hidden__3Qsrp {
	visibility: hidden;
}

.horizontal__slide__14cYd.horizontal__previous__1ipew {
	left: -100%;
}

.horizontal__slide__14cYd.horizontal__current__1Im4O {
	left: 0;
}

.horizontal__slide__14cYd.horizontal__next__Yk4zf {
	left: 100%;
}

.horizontal__slide__14cYd.horizontal__animateIn__2CtXg,
	.horizontal__slide__14cYd.horizontal__animateOut__v8rtY {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

.horizontal__slide__14cYd.horizontal__animateIn__2CtXg.horizontal__previous__1ipew,
		.horizontal__slide__14cYd.horizontal__animateIn__2CtXg.horizontal__next__Yk4zf {
	left: 0;
	visibility: visible;
}

.horizontal__slide__14cYd.horizontal__animateOut__v8rtY.horizontal__previous__1ipew {
	left: 100%;
}

.horizontal__slide__14cYd.horizontal__animateOut__v8rtY.horizontal__next__Yk4zf {
	left: -100%;
}

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #df5000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #a71d5d;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #795da3;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}

.SourceView__sourceView__2_QyY .SourceView__toggleButton__g7cAQ {
    border-radius: 0;
    padding: 5px;
    margin: 5px;
}
.SourceView__sourceView__2_QyY .SourceView__code__JfOdK {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}
.SourceView__sourceView__2_QyY .SourceView__code__JfOdK.SourceView__expanded__B0gcD {
    height: auto;
}
.SourceView__sourceView__2_QyY .SourceView__code__JfOdK.SourceView__collapsed__17i4l {
    height: 0;
    overflow: hidden;
}

.vertical__slider__2d8S2 {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden
}

.vertical__slider__2d8S2 a.vertical__previousButton__NTys-, .vertical__slider__2d8S2 a.vertical__nextButton__31XU8 {
	font-size: 22px;
	line-height: 0;
	display: block;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 1;
	color: #333;
	padding: 10px
}

.vertical__slider__2d8S2 a.vertical__previousButton__NTys-:not(.vertical__disabled__1Q7dR):hover, .vertical__slider__2d8S2 a.vertical__nextButton__31XU8:not(.vertical__disabled__1Q7dR):hover {
	-webkit-transform: translateX(-50%) scale(1.25);
	        transform: translateX(-50%) scale(1.25);
	cursor: pointer;
}

.vertical__slider__2d8S2 a.vertical__previousButton__NTys- {
	top: 20px;
}

.vertical__slider__2d8S2 a.vertical__nextButton__31XU8 {
	bottom: 20px;
}

.vertical__slide__1z-1i {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden
}

.vertical__slide__1z-1i.vertical__hidden__3u9Bi {
	visibility: hidden;
}

.vertical__slide__1z-1i.vertical__previous__vOice {
	top: -100%;
}

.vertical__slide__1z-1i.vertical__current__wVrQg {
	top: 0;
}

.vertical__slide__1z-1i.vertical__next__1ueLE {
	top: 100%;
}

.vertical__slide__1z-1i.vertical__animateIn__3SUic,
	.vertical__slide__1z-1i.vertical__animateOut__1xSiX {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

.vertical__slide__1z-1i.vertical__animateIn__3SUic.vertical__previous__vOice,
		.vertical__slide__1z-1i.vertical__animateIn__3SUic.vertical__next__1ueLE {
	top: 0;
	visibility: visible;
}

.vertical__slide__1z-1i.vertical__animateOut__1xSiX.vertical__previous__vOice {
	top: 100%;
}

.vertical__slide__1z-1i.vertical__animateOut__1xSiX.vertical__next__1ueLE {
	top: -100%;
}

.custom__slider__15xJF {
	position: relative;
	width: 100%;
	height: 400px;
	overflow: hidden
}

.custom__slider__15xJF a.custom__previousButton__3dmlI, .custom__slider__15xJF a.custom__nextButton__aLH9j {
	font-size: 22px;
	line-height: 0;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	z-index: 1;
	padding: 10px;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden
	/* prevent jump effect when scaling */
}

.custom__slider__15xJF a.custom__previousButton__3dmlI:not(.custom__disabled__2NVX3):hover, .custom__slider__15xJF a.custom__nextButton__aLH9j:not(.custom__disabled__2NVX3):hover {
	-webkit-transform: translateY(-50%) scale(1.25);
	        transform: translateY(-50%) scale(1.25);
	cursor: pointer;
}

.custom__slider__15xJF a.custom__previousButton__3dmlI svg polygon, .custom__slider__15xJF a.custom__nextButton__aLH9j svg polygon {
	fill: #ffd800;
}

.custom__slider__15xJF a.custom__previousButton__3dmlI {
	left: 20px;
}

.custom__slider__15xJF a.custom__nextButton__aLH9j {
	right: 20px;
}

.custom__sliderContent__1teN9 {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	text-align: center;
	background-size: cover !important
}

.custom__sliderContent__1teN9:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .9)));
	background: linear-gradient(transparent, rgba(0, 0, 0, .9));
	bottom: 0;
	left: 0;
}

.custom__sliderContent__1teN9.custom__hidden__1hHH2 {
	visibility: hidden;
}

.custom__sliderContent__1teN9.custom__previous__1neJ5 {
	left: -100%;
}

.custom__sliderContent__1teN9.custom__current__31qyj {
	left: 0;
}

.custom__sliderContent__1teN9.custom__next__1wwxw {
	left: 100%;
}

.custom__sliderContent__1teN9.custom__animateIn__v6DNd,
	.custom__sliderContent__1teN9.custom__animateOut__3sMXj {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

.custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__previous__1neJ5,
		.custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__next__1wwxw {
	left: 0;
	visibility: visible
}

.custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__previous__1neJ5 p, .custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__next__1wwxw p {
	-webkit-transition-delay: 1.1s;
	        transition-delay: 1.1s;
}

.custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__previous__1neJ5 button, .custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__next__1wwxw button {
	-webkit-transition-delay: 1.3s;
	        transition-delay: 1.3s;
}

.custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__previous__1neJ5 section img, .custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__next__1wwxw section img {
	-webkit-transition-delay: 1.3s;
	        transition-delay: 1.3s;
}

.custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__previous__1neJ5 section span, .custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__next__1wwxw section span {
	-webkit-transition-delay: 1.4s;
	        transition-delay: 1.4s;
}

.custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__previous__1neJ5 section span strong, .custom__sliderContent__1teN9.custom__animateIn__v6DNd.custom__next__1wwxw section span strong {
	-webkit-transition-delay: 1.5s;
	        transition-delay: 1.5s;
}

.custom__sliderContent__1teN9.custom__animateOut__3sMXj.custom__previous__1neJ5 {
	left: 100%;
}

.custom__sliderContent__1teN9.custom__animateOut__3sMXj.custom__next__1wwxw {
	left: -100%;
}

.custom__sliderContent__1teN9.custom__animateOut__3sMXj h1 {
	-webkit-transition-delay: .3s;
	        transition-delay: .3s;
}

.custom__sliderContent__1teN9.custom__animateOut__3sMXj p {
	-webkit-transition-delay: .2s;
	        transition-delay: .2s;
}

.custom__sliderContent__1teN9.custom__animateOut__3sMXj section span {
	-webkit-transition-delay: .1s;
	        transition-delay: .1s;
}

.custom__sliderContent__1teN9.custom__animateOut__3sMXj section span strong {
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}

.custom__sliderContent__1teN9.custom__current__31qyj h1, 
		.custom__sliderContent__1teN9.custom__current__31qyj button, 
		.custom__sliderContent__1teN9.custom__current__31qyj p, 
		.custom__sliderContent__1teN9.custom__current__31qyj section *, 
		.custom__sliderContent__1teN9.custom__animateIn__v6DNd h1, 
		.custom__sliderContent__1teN9.custom__animateIn__v6DNd button, 
		.custom__sliderContent__1teN9.custom__animateIn__v6DNd p, 
		.custom__sliderContent__1teN9.custom__animateIn__v6DNd section * {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	-webkit-transition-delay: .9s;
	        transition-delay: .9s;
	opacity: 1;
}

.custom__sliderContent__1teN9 .custom__inner__ZOjtC {
	padding: 0 70px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.custom__sliderContent__1teN9 h1 {
	font-weight: 900;
	margin: 0 auto;
	max-width: 840px;
	color: #FFFFFF;
	font-size: 64px;
	line-height: 1;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translateY(-20px);
	        transform: translateY(-20px);
	opacity: 0;
}

.custom__sliderContent__1teN9 p {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 1.5;
	margin: 20px auto 30px;
	max-width: 640px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translateY(20px);
	        transform: translateY(20px);
	opacity: 0;
}

.custom__sliderContent__1teN9 button {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: translateY(20px);
	        transform: translateY(20px);
	opacity: 0;
}

.custom__sliderContent__1teN9 section {
	position: absolute;
	bottom: 20px;
	left: 20px
}

.custom__sliderContent__1teN9 section * {
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.custom__sliderContent__1teN9 section span {
	color: rgba(255, 255, 255, .5);
	font-size: 12px;
	display: inline-block;
	text-align: left;
	line-height: 1.4;
	vertical-align: middle;
	margin-left: 10px;
	-webkit-transform: translateX(-10px);
	        transform: translateX(-10px);
	opacity: 0
}

.custom__sliderContent__1teN9 section span strong {
	color: #FFFFFF;
	font-size: 14px;
	display: block;
	-webkit-transform: translateY(10px);
	        transform: translateY(10px);
	opacity: 0;
}

.custom__sliderContent__1teN9 section img {
	width: 40px;
	height: 40px;
	border: solid 2px rgba(255, 255, 255, .5);
	border-radius: 100%;
	vertical-align: middle;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-transform: translateX(-20px);
	        transform: translateX(-20px);
	opacity: 0;
}


.Gallery__slider__11QTf {
	margin: auto;
	position: relative;
	width: 100%;
	max-width: 600px;
	height: 450px;
	overflow: hidden
}

.Gallery__slider__11QTf a.Gallery__previousButton__3oCcA, .Gallery__slider__11QTf a.Gallery__nextButton__2Fddu {
	font-size: 22px;
	line-height: 0;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
	z-index: 1;
	color: #333;
	padding: 10px;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden
	/* prevent jump effect when scaling */
}

.Gallery__slider__11QTf a.Gallery__previousButton__3oCcA:not(.Gallery__disabled__3SgYY):hover, .Gallery__slider__11QTf a.Gallery__nextButton__2Fddu:not(.Gallery__disabled__3SgYY):hover {
	-webkit-transform: translateY(-50%) scale(1.25);
	        transform: translateY(-50%) scale(1.25);
	cursor: pointer;
}

.Gallery__slider__11QTf a.Gallery__previousButton__3oCcA {
	left: 20px;
}

.Gallery__slider__11QTf a.Gallery__nextButton__2Fddu {
	right: 20px;
}

.Gallery__slide__3PETB {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden
}

.Gallery__slide__3PETB.Gallery__hidden__3PJXa {
	visibility: hidden;
}

.Gallery__slide__3PETB.Gallery__previous__3S3YS {
	left: -100%;
}

.Gallery__slide__3PETB.Gallery__current__1ghl1 {
	left: 0;
}

.Gallery__slide__3PETB.Gallery__next__1C4k3 {
	left: 100%;
}

.Gallery__slide__3PETB.Gallery__animateIn__2hSWn,
	.Gallery__slide__3PETB.Gallery__animateOut__KPz7X {
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

.Gallery__slide__3PETB.Gallery__animateIn__2hSWn.Gallery__previous__3S3YS,
		.Gallery__slide__3PETB.Gallery__animateIn__2hSWn.Gallery__next__1C4k3 {
	left: 0;
	visibility: visible;
}

.Gallery__slide__3PETB.Gallery__animateOut__KPz7X.Gallery__previous__3S3YS {
	left: 100%;
}

.Gallery__slide__3PETB.Gallery__animateOut__KPz7X.Gallery__next__1C4k3 {
	left: -100%;
}


/*# sourceMappingURL=main.css.map*/