.sourceView {
  & .toggleButton {
    border-radius: 0;
    padding: 5px;
    margin: 5px;
  }

  & .code {
    transition: all .5s ease;

    &.expanded {
      height: auto;
    }

    &.collapsed {
      height: 0;
      overflow: hidden;
    }
  }
}
