.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	
	&.hidden {
		opacity: .0;
	}

	&.previous {
		transform: translateX(-100%);
	}

	&.current {
		transform: translateX(0);
	}

	&.next {
		transform: translateX(100%);
	}

	&.animateIn {
		&.previous {
			animation: animateInPrevious 2000ms ease;
		}

		&.next {
			animation: animateInNext 2000ms ease;
		}
	}

	&.animateOut {
		&.previous {
			animation: animateOutPrevious 2000ms ease;
		}

		&.next {
			animation: animateOutNext 2000ms ease;
		}
	}
}

@keyframes animateInPrevious {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes animateInNext {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes animateOutPrevious {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes animateOutNext {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}