.slider {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;

	&.hidden {
		visibility: hidden;
	}

	&.previous {
		top: -100%;
	}

	&.current {
		top: 0;
	}

	&.next {
		top: 100%;
	}

	&.animateIn,
	&.animateOut {
		transition: all 2s ease;
	}

	&.animateIn {
		&.previous,
		&.next {
			top: 0;
			visibility: visible;
		}
	}

	&.animateOut {
		&.previous {
			top: 100%;
		}

		&.next {
			top: -100%;
		}
	}
}
