.slider {
	position: relative;
	overflow: hidden;

	& button {
		&.previous, &.next {
			background: #FFF;
			border: none;
			border-bottom: solid 16px transparent;
			border-left: solid 16px #000;
			border-right: unset;
			border-top: solid 16px transparent;
			cursor: pointer;
			height: 22px;
			outline: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: all .3s ease;
			width: 22px;
			z-index: 1;
		}

		&.previous {
			left: 20px;
			transform: translateY(-50%) rotate(-180deg);

			&:hover {
				transform: translateY(-50%) rotate(-180deg) scale(1.1);
			}
		}

		&.next {
			right: 20px;

			&:hover {
				transform: translateY(-50%) scale(1.1);
			}
		}
	}

	& .slide {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		
		&.hidden {
			opacity: .0;
		}

		&.previous {
			transform: translateY(-100%);
		}

		&.current {
			transform: translateY(0);
		}

		&.next {
			transform: translateY(100%);
		}

		&.animateIn {
			&.previous {
				animation: animateInPrevious 2000ms ease;
			}

			&.next {
				animation: animateInNext 2000ms ease;
			}
		}

		&.animateOut {
			&.previous {
				animation: animateOutPrevious 2000ms ease;
			}

			&.next {
				animation: animateOutNext 2000ms ease;
			}
		}
	}
}

@keyframes animateInPrevious {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes animateInNext {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(0);
	}
}
@keyframes animateOutPrevious {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(100%);
	}
}

@keyframes animateOutNext {
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(-100%);
	}
}